<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/add-product">Add product</a>

            </li>
            <li>
                <a class="nav-link active" aria-current="page" href="/viewDeposits">View deposits</a>
            </li>
            <li>
                <a class="nav-link active" aria-current="page" href="/addDeposit">Add deposit</a>

            </li>


        </ul>
    </div>
    </div>
</nav>


<h2>Products list</h2>

<hr>

<table class="table" >
    <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Lot.</th>
    </tr>
    </thead >
    <tbody class="table-group-divider" th:each="product: ${products}" style="width:200px">
    <tr>
        <th scope="row" th:text="${product.id}">></th>
        <td  th:text="${product.name}"></td>
        <td th:text="${product.description}"> </td>
        <td th:text=" ${product.quantity}"></td>
        <td th:text="${product.lot}"></td>
        <td>  <a th:href="@{/edit-product/{id}(id = ${product.id})}">Edit</a></td>
        <td > <a th:href="@{/delete-product-page/{id}(id=${product.id})}">Delete</a></td>

            </tr>
            </tbody>
        </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>